    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arpit::before {
    content: "";
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

nav ul li a {
    color: black;
}


/*body {

background-color: black;
opacity: 0.7;
z-index: -1;
}*/

.row::before {
    content: "";
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.arpit {
    display: flex;
    align-items: center;
    padding: 15px;
    padding-bottom: 2px;
    position: relative;
    top: 0;
}

.arpit ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.arpit ul li a {
    padding: 5px 15px;
    margin: 10px;
    color: #034fba;
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
}

col {
    padding: 4px;
}

.col1 img {
    max-width: 40%;
    margin-left: 283px;
    margin-top: -50px;
}

.col {
    color: white;
    font-size: 25px;
    padding: 30px;
}

.arpit ul li a {
    color: white;
}

.arpit ul li a:hover {
    color: #0980e1;
    background: white;
    border-radius: 4px;
    padding: ;
}

.btn {
    display: inline-block;
    color: white;
    background-color: #fa650f;
    border-radius: 30px;
    border: 2px solid white;
    text-decoration: none;
    padding: 5px 23px;
    margin-top: 23px;
}

.btn:hover {
    color: white;
    background: #f1be04;
    border: 2px solid #04f1e9;
}

@media only screen and (max-width:800px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    .arpit {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .col1 img {
        margin-left: 7px;
        max-width: 90%;
        margin-top: 47px;
    }
    .arpit ul {
        padding-left: 4px;
        padding-top: 5px;
        font-size: 20px;
    }
    .arpit ul li a {
        padding: 9px 4px;
        margin: 0px 4px;
    }
    .logo img {
        padding-top: 15px;
        width: 50px;
    }
    .col {
        font-size: 20px;
        margin-top: 20px;
    }
    .row {
        overflow: hidden;
    }
    #f1be04